
.icon-menu:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
