#footer{
    background:rgba(28, 53, 77, 0.474);
    border-radius: 30px;
    box-shadow: inset 0 0 15px rgb(22, 35, 158), 0 0 20px rgb(15, 46, 171);
    text-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 30px blue, 0 0 50px blue;
    
}
 .conten{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(6, 63, 132);
    margin: 15px;
   

}
.copy{
    font-size: 20px;
    padding: 20px;
}
.red-soc{
    width: 100%;
    text-align: center;
    font-size:32px;
    margin-top: 32px;

}

.icon-instagram-1{
    color:rgb(225,48, 108);
    font-size:60px;
    margin: 0 15px;
    bottom: unset;

}  

.icon-facebook-squared{
    color:rgb(34, 103, 206);
    font-size:60px;
    margin: 0 15px;
    bottom: unset;

}  
   
   

  /*Dispositivo Movil*/
  @media(min-width: 420px){

  

  }
    .red-soc{
        
        width: 100%;
        height: auto;
    }

             /*Tablets*/
@media(min-width:768px){
    .red-soc{
        width: auto;
        font-size: 28px;
        padding: 10px;
    }
    footer .conten{
        justify-content: space-between;
    }
}             
                    /*Escritorio*/
                    @media(min-width: 1920px){
                        footer .conten{
                            position:relative;
                            width: auto;
                            height: auto;
                            transform: translateX(0%);
                            float:inline-start;
                            display: flex;
                            
                        }
                        .copy{
                            border: none;
                        }
                        header label{
                            display: none;
                        }
                    }
