

   /*Dispositivo Movil*/
   @media(min-width: 420px){
    .registro{
        background:rgba(51,51,51,.9);
        width: 100%;
        height: auto;
    }

}
                    /*Tablets*/
@media(min-width: 768px){
    .registro{
        background:rgba(51,51,51,.9);
        width: 50%;
        height: auto;
    }
}
                    /*Escritorio*/
@media(min-width: 1024px){
    .registro{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background:#1e5da4;
        margin-top: -120px;
    }
    .registro a{
        border: none;
    }
   
    }
